<header class="hero text-white text-center">
    <div class="container">
        <h2 class="display-4 fw-bold mb-4"> Stop Hunting for Matches. Start Shooting.</h2>
        <p class="lead fs-4 mb-5">
           The ultimate offline-ready map directory for local leagues, 3D mountain courses, and premier archery circuits.
        </p>

       <div
            class="d-flex flex-column flex-sm-row gap-3 justify-content-center"
        >
            <a href="#shooters" class="btn btn-primary btn-lg px-5 py-3"
                >Launch ASFinder</a
            >
            <a href="#venues" class="btn btn-outline-light btn-lg px-5 py-3"
                >I'm a Venue</a
            >
        </div>
    </div>
</header>
