
            <h2 class="fs-3 fw-bold my-4">Archers: Never Miss a Shoot Again</h2>

            <ul class="fs-4 mx-5 px-3">
                <li class="mb-4"><strong>Map-Centric Discovery:</strong> Find local leagues, 3D shoots, and destination events without digging through messy social media groups.</li>
                <li class="mb-4"><strong>Smart Filtering:</strong> Instantly sort upcoming matches by distance, bow type, shooting class, and event format.</stong></li>
                <li class="mb-4"><strong>Built for the Field:</strong> Full offline functionality ensures you can access schedules and directions even when you lose cell service at the range.</li>
            </ul>
