<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <h2 class="display-5 fw-bold mb-4">For Event Organizers</h2>
            <ul class="list-unstyled fs-5">
                <li class="mb-3"><i class="fa-solid fa-check text-success me-3"></i>Reach shooters actively looking for Shooting events</li>
                <li class="mb-3"><i class="fa-solid fa-check text-success me-3"></i>Highlight destination & influencer shoots</li>
                <li class="mb-3"><i class="fa-solid fa-check text-success me-3"></i>Easy listing your organizations shoots</li>
                <li class="mb-3"><i class="fa-solid fa-check text-success me-3"></i>Free basic listing or upgrade for more options</li>
            </ul>
        </div>
        <div class="col-lg-6">
            <div class="bg-light text-dark p-5 rounded-4">
                <h4>We want your feedback!</h4>
                <p class="mb-4">What features would make directory usefull be a reson to sign up?</p>
                <a href="#join" class="btn btn-primary btn-lg">Share Feedback & Get Early Access</a>
            </div>
        </div>
    </div>
</div>