<!doctype html>
<html lang="en">
    {% include head.html %}

    <body>
        <!-- Disclaimer -->
        {% include disclaimer.html %}

        <!-- HERO -->
        {% include hero.html %}

        <!-- DESTINATION & INFLUENCER HIGHLIGHT -->
        <section class="section-padding bg-light">
            {% include destination.html %}
        </section>

        <!-- FOR SHOOTERS -->
        <section class="container mt-5">
            <hr />
            <div class="row">
                <div class="col-md-6">
                    {% include shoots.html %}
                </div>
                <div class="col-md-6">
                    <!-- FOR VENUES -->
                    {% include venues.html %}
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col bg-secondary-subtle m-5 p-5 rounded-4 shadow-sm text-center vertical-align: middle">
                    <a
                        href="https://app.archeryshootfinder.com"
                        target="_blank"
                        class="btn btn-danger btn-lg"
                        >Launch ASFinder PWA-Directory</a
                    >
                </div>
            </div>
        </section>

        <!-- FEEDBACK / WAITLIST -->
        <section id="join" class="section-padding bg-success text-white">
            {% include feedback.html %}
        </section>

        <!-- FOOTER -->
        <footer class="bg-black text-white py-5 text-center">
            {% include footer.html %}
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
